<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Currency Converter</title>
  <link rel="stylesheet" href="./styles/style.css">

  <!-- icons -->
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
</head>

<body>

  <div class="container">

    <div class="header">
      <h1>Currency Converter</h1>
    </div>
    <div class="date"></div>
    <ul class="currencies">

      <!-- Insert Code -->
            
    </ul>
    <button class="add-currency-btn ">
      <i class="fas fa-chevron-left"></i>
      Add Currency    
    </button>
    <ul class="add-currency-list">

      <!-- Insert Code -->

    </ul>
  </div>

  <!-- Script -->
  <script src="./dist/main.js"></script>
</body>

</html>